@{
	Layout = "_Layout";
}

<h1 id="title">Dr. Sillystringz's Factory</h1>

<hr />

<p>
	@Html.ActionLink("View all engineers", "Index", "Engineers")
	|
	@Html.ActionLink("View all machines", "Index", "Machines")
</p>