@{
	Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2 id="title">Delete <b>@Html.DisplayFor(model => model.Name)</b></h2>
<h4 id="subtitle"><b>This cannot be undone!</b></h4>

<hr />

@using (Html.BeginForm())
{
	<input id="delete" type="submit" value="Delete" />
}

<hr />

<p>
	@Html.ActionLink("View all engineers", "Index")
	|
	@Html.ActionLink("View engineer", "Details", new { id = Model.EngineerId })
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>